<div class="login-form">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
      <label>Login</label>
      <input type="text" formControlName="login" placeholder="Enter your login"/>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Enter your password" />
    </div>
    <button type="submit">Log in</button>
  </form>
</div>
