<div class="layout">
  <header class="header">

  </header>
  <div class="main">
    <aside class="sidebar">
      <ul class="nav">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/students">Students</a>
        </li>
        <li>
          <a routerLink="/faculties">Faculties</a>
        </li>
      </ul>
    </aside>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
